
/* * {
  border: 1px solid red;
  box-sizing: border-box;
} */

.page {
  margin: 0 auto;
  padding: 0;

  width: 100%;
  height: 100vh;

  font-family: 'Montserrat', 'Arial', sans-serif;
  
  background-color: #f8f9fa;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
